<!DOCTYPE html>
<html>
<head>
    <title>AI Chatbot</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="static/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

</head>
<body>
    <div class="container mt-5">
        <img class="mx-1 my-1" src="{{ url_for('static', filename='logo.jpg') }}" alt="Logo" style="max-width: 100px;">
        <h1>Ask me anything...</h1> 
        <div id="chat-container" class="chat-container mb-2"></div>
        <div class="row">
            <div class="col">
                <div>
                    <select class="form-control" id="function-select">
                        <option value="answer">Answer as Chatbot</option>
                        <option value="kbanswer">Answer question from Financial Ratios</option>
                        <option value="search">Search Knowledge Base</option>
                    </select>
                </div>
            </div>
            <div class="col">
                <div class="input-group-append">
                    <input type="text" id="message-input" placeholder="Type your message here...">
                    <button id="send-btn" class="btn btn-primary mx-1">Send</button>
                    <button id="clear-btn" class="btn btn-danger mx-1">Clear Chat</button>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script src="static/main.js"></script>
</body>
</html>
